:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color: rgb(0,91,163);
    /*  linear-gradient(0, rgb(115,162,182), rgb(0,91,163)) */
    --border-color: #dbdbdb;
    --star-color: #FFCE3E;

    --header-height:120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit;
    margin: 0px;
}

html{
    font-size: 62.5%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400px;

}

/* Responsive */

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    float: left;
}

.grid__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{ 
        transform: scale(var(--growth-to));
    }
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .3s;
}

.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 2000px;
    height: 1000px;
    background-color: rgba(0,0,0,0.3);
}
.modal__body{
    margin:auto;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    --growth-from:0.5;
    --growth-to:1;
    animation:growth linear .3s;
}

/* btn  */
.btn{
    min-width: 124px;
    height:36px;
    color:var(--text_color);
    text-decoration: none;
    border:none;
    border-radius: 2px;
    padding: 0 12px;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    line-height: 1.6rem;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.2);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding:0 8px;  
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled{
    cursor:default;
    color: #999;
    /* filter:brightness(70%); */
    background-color: #999;
}

/*Select  */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 12px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.select-input__list{
    position: absolute;
    left: 0; 
    right: 0;
    top: 37px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display:block;
    padding: 6px 0px;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/* pagination */
.d-block{
    display: block;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    list-style: none;

}

.pagination-item{ 
    margin: 0 16px;
}

.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover{
    opacity: 0.7;
}

.pagination-item__link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;

}
